<script>
  import LoadingSpin from "../loadingSpin.svelte";
  import UnsplashPhotographer from "../helpers/unsplashPhotographer.svelte";
  import { shaEncode } from "../../lib/stringUtils";
  export let coverImg;
  export let unsplashImg;
  export let title;
  export let photographer;

  export let showAttrib = false;

  let isLoading = true;
  let sha = "";

  async function loadPlaceholders() {
    sha = await shaEncode(title);
    isLoading = false;
  }

  loadPlaceholders();
</script>

{#if coverImg}
  <div class="card-image">
    <figure class="image is-2by1">
      <!-- #28 - add images -->
      <img
        src="https://cfps-dot-dev-public.s3.us-east-1.amazonaws.com/{coverImg}"
        alt="{title} cover image"
      />
    </figure>
  </div>
{:else if unsplashImg}
  <div class="card-image has-text-right">
    <figure class="image is-2by1">
      <!-- #28 - add images -->
      <img src="{unsplashImg}" alt="{title} cover image from Unsplash" />
    </figure>
    {#if showAttrib}
      <small class="mx-1 is-size-7">
        <UnsplashPhotographer photographer="{photographer}" />
      </small>
    {/if}
  </div>
{:else}
  <div class="card-image">
    <figure class="image is-2by1">
      {#if isLoading}
        <LoadingSpin />
      {:else}
        <img
          src="/assets/gradients/{sha.charAt(0)}.jpg"
          alt="{title} cover image"
        />
      {/if}
    </figure>
  </div>
{/if}
