<script>
  import { navigate, useLocation } from "svelte-navigator";

  import Error from "../../components/Error.svelte";
  import HeroHeaderImg from "../../components/HeroHeaderImg.svelte";
  import Loading from "../../components/loading.svelte";
  import * as db from "../../lib/db";
  import { currentUser, isLoggedIn } from "../../stores/user";

  export let inviteId;
  let thisInvite = {};
  let isLoading = true,
    isJoining = false;
  let hasError,
    errorMsg =
      "Something went wrong.  If it happens again please contact support.";

  function loadInvite() {
    db.publicteams
      .getOne(inviteId)
      .then((val) => {
        if (val.teamname) {
          thisInvite = val;
        } else {
          hasError = true;
          errorMsg = val.description;
          if (errorMsg === "Set not found.") errorMsg = "Invite not found - please check the link and try again.";
        }
      })
      .catch((e) => {
        hasError = true;
        errorMsg = e.message;
        console.error(e);
      })
      .finally(() => {
        setTimeout(() => {
          isLoading = false;
        }, 450);
      });
  }

  function acceptInvite() {
    isJoining = true;
    db.publicteams
      .accept($currentUser, inviteId)
      .then((val) => {
        const teamId = val.ref["@ref"].id;
        console.log("Done", teamId);

        setTimeout(() => {
            navigate(`/home/teams/${teamId}`);
        }, 750);
      })
      .catch((e) => console.error(e))
      .finally(() => {
        setTimeout(() => {
          isJoining = false;
        }, 750);
      });
  }

  loadInvite();
</script>

<div class="container is-flex is-justify-content-space-around my-6">
  <h2 class="title">CFPs.dev Team Invite</h2>
</div>

<div class="columns">
  <div class="column">
    <HeroHeaderImg />
  </div>
  <div class="column">
    <div class="card" style="max-width: 555px; min-width: 200px;">
      {#if isLoading}
        <div class="card-content">
          <Loading />
        </div>
      {:else if hasError}
        <Error>
          {errorMsg}
        </Error>
      {:else}
        <header class="card-header">
          <p class="card-header-title">
            You've been invited to join your team on CFPs.dev
          </p>
        </header>
        <div class="card-content">
          <p class="subtitle">
            {thisInvite.teamname}
          </p>
          <div>
            {#if $isLoggedIn}
              <button
                class="button is-link is-large is-fullwidth my-2 {isJoining
                  ? 'is-loading'
                  : ''}"
                on:click="{acceptInvite}"
              >
                <span class="icon">
                  <i class="fas fa-users"></i>
                </span>
                <span>Join the Team!</span>
              </button>
            {:else}
              <p>
                You need to be logged in to your CFPs.dev account to accept the
                invite.
              </p>
              <button
                class="button is-warning is-fullwidth my-2"
                on:click="{() => window.netlifyIdentity.open('login')}"
              >
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Login</span>
              </button>
              <button
                class="button is-link is-fullwidth my-2"
                on:click="{() => window.netlifyIdentity.open('signup')}"
              >
                <span class="icon">
                  <i class="fas fa-user-plus"></i>
                </span>
                <span>Sign up</span>
              </button>
            {/if}
          </div>
        </div>
      {/if}
    </div>
  </div>
</div>
