<script>
  import { currentUser } from "../../stores/user";
  import * as db from "../../lib/db";
  import Loading from "../loading.svelte";

  let shortCode,
    showCode,
    thisError = "",
    isChecking = false,
    isOkay = true,
    isLoading = true;

  function loadShortCode() {
    isLoading = true;
    isChecking = true;
    db.users
      .getMyProfile($currentUser)
      .then((val) => {
        shortCode = val.shortCode;
        showCode = shortCode;
        isOkay = true;
      })
      .catch((err) => console.error(err))
      .finally(() => {
        setTimeout(() => {
          isChecking = false;
          isLoading = false;
        }, 450);
      });
  }

  function checkShortCode() {
    if (shortCode != showCode) {
      if (shortCode.length > 3) {
        isChecking = true;
        db.users
          .checkIfInUse($currentUser, shortCode)
          .then((val) => {
            switch (val.status) {
              case 200:
                isOkay = true;
                break;

              default:
                isOkay = false;
                break;
            }
          })
          .catch((err) => {
            console.error(err);
            isOkay = false;
          })
          .finally(() => {
            setTimeout(() => {
              isChecking = false;
            }, 450);
          });
      }
    } else {
      isOkay = true;
    }
  }

  function saveShortCode() {
    db.users
      .addShortCode($currentUser, { shortCode })
      .then((val) => {
        console.log(val);
        switch (val.status) {
          case 400:
            thisError = "Yes";
            break;
          case 200:
            showCode = shortCode;
            thisError = "";
            break;
          default:
            thisError = "Maybe";
            break;
        }
      })
      .catch((err) => {
        console.log(err);
        thisError = "Yes";
      });
  }

  loadShortCode();
</script>

<nav class="panel is-info">
  <p class="panel-heading">Public Profile</p>
  <div class="panel-block">
    <div class="columns" style="width: 100%">
      <div class="column">
        <div class="field">
          <label class="label" for="txtShortcode">Public Usernane</label>
          <div
            class="control 
                    {isChecking ? 'is-loading' : 'has-icons-right'}"
          >
            <input
              class="input 
                      {isOkay && !isChecking ? 'is-success' : 'is-danger'}"
              id="txtShortcode"
              type="text"
              placeholder="(e.g. brendan or beyoncé)"
              bind:value="{shortCode}"
              disabled="{isLoading}"
              on:keyup="{checkShortCode}"
            />
            {#if !isChecking}
              {#if isOkay}
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              {:else}
                <span class="icon is-small is-right">
                  <i class="fas fa-times"></i>
                </span>
              {/if}
            {/if}
          </div>
        </div>
      </div>
      <div class="column">
        <article class="message is-info">
          <div class="message-body">
            This will be your public user name, making all talks you mark as
            "published" available at <code>cfps.dev/u/username</code>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="panel-block" style="justify-content: center;">
    {#if thisError}
      <article class="message is-danger">
        <div class="message-body">
          Something went wrong. Please try again or try a different user name.
        </div>
      </article>
    {:else if isLoading}
      <Loading />
    {:else if !isOkay && !isChecking}
      <article class="message is-warning">
        <div class="message-body">That username is already in use.</div>
      </article>
    {:else if showCode}
      <p class="has-text-centered">
        ✅ &nbsp; your published talks are live at <br />
        <a href="https://cfps.dev/u/{showCode}" target="_blank">
          <code>cfps.dev/u/{showCode}</code>
        </a>
      </p>
    {:else}
      <article class="message is-warning">
        <div class="message-body">
          Your published talks are not live yet. Please choose a public user
          name above.
        </div>
      </article>
    {/if}
  </div>
  {#if showCode}
    <p class="has-text-centered">
      To embed your abstracts in another website (and remove the CFPs.dev
      branding),<br /> add <code>/embeded</code> to the end of the URL above.
    </p>
    <div class="panel-block">
      <article class="message is-warning">
        <div class="message-body">
          The embedding feature is in beta and is planned to be a <a
            href="https://gitlab.com/liscioapps/cfps/-/issues/72"
            target="_blank">paid team feature</a
          >. Use at your own risk.
        </div>
      </article>
    </div>
  {/if}
  <div class="panel-block" style="justify-content: center;">
    <div class="field is-grouped is-grouped-centered">
      <button
        class="button control is-success {isLoading ? 'is-loading' : ''}"
        on:click="{saveShortCode}"
        disabled="{!isOkay}"
      >
        Save
      </button>
    </div>
  </div>
</nav>
