<script>
  import { currentUser } from "../../stores/user";

  let currPassword, newPassword, confirmPassword;
  let isConfirmError, isLoadingPassword, passwordStatus;

  function checkPassword() {
    if (newPassword & confirmPassword) {
      if (newPassword != confirmPassword) {
        isConfirmError = true;
      } else {
        isConfirmError = false;
      }
    }
  }

  function savePassword() {
    isLoadingPassword = true;
    netlifyIdentity.gotrue
      .login($currentUser.email, currPassword)
      .then((val) => {
        netlifyIdentity
          .currentUser()
          .update({ password: newPassword })
          .then((user) => {
            setTimeout(() => {
              passwordStatus = "success";
              isLoadingPassword = false;
            }, 450);
          })
          .catch((error) => {
            setTimeout(() => {
              passwordStatus = "error";
              isLoadingPassword = false;
            }, 450);
            throw error;
          });
      })
      .catch((error) => {
        setTimeout(() => {
          passwordStatus = "error";
          isLoadingPassword = false;
        }, 450);
        throw error;
      });
  }
</script>

<nav class="panel is-warning">
  <p class="panel-heading">User Details</p>
  <div class="panel-block"></div>
  <div class="panel-block content">
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{$currentUser.user_metadata.full_name}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{$currentUser.email}</td>
        </tr>
        <tr>
          <td>ID</td>
          <td>
            <code>{$currentUser.id}</code>
          </td>
        </tr>
        <tr>
          <td>Created At</td>
          <td>{$currentUser.created_at}</td>
        </tr>
      </tbody>
    </table>
  </div>
</nav>

<div class="columns">
  <div class="column">
    <div class="box">
      <h2 class="is-size-3">Change Password</h2>
      <hr />
      <div class="field">
        <label class="label" for="txtCurrentPassword">Current Password</label>
        <div class="control">
          <input
            class="input"
            type="password"
            name="txtCurrentPassword"
            placeholder="Current"
            bind:value="{currPassword}"
          />
        </div>
      </div>

      <div class="field">
        <label class="label" for="txtNewPassword">New Password</label>
        <div class="control">
          <input
            class="input {isConfirmError ? 'is-danger' : ''}"
            type="password"
            name="txtNewPassword"
            placeholder="New Password"
            bind:value="{newPassword}"
          />
        </div>
      </div>

      <div class="field">
        <label class="label" for="txtConfirmPassword">Confirm Password</label>
        <div class="control">
          <input
            class="input {isConfirmError ? 'is-danger' : ''}"
            type="password"
            name="txtConfirmPassword"
            placeholder="Confirm"
            bind:value="{confirmPassword}"
            on:keyup="{checkPassword}"
          />
        </div>
      </div>

      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <button
            class="button is-link {isLoadingPassword ? 'is-loading' : ''}"
            on:click="{savePassword}"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    {#if passwordStatus === "success"}
      <article class="message is-success">
        <div class="message-header">
          <p>Success</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">Password successfully updated.</div>
      </article>
    {:else if passwordStatus === "error"}
      <article class="message is-danger">
        <div class="message-header">
          <p>Error</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          There was an error updating your password. Please try again.
        </div>
      </article>
    {/if}
  </div>
</div>
