<script>
  import dayjs from "dayjs";
  import { cfps } from "../../lib/db";
  import CfpList from "../cfps/cfpList.svelte";
  import ComingSoon from "../ComingSoon.svelte";
  import EmptyState from "../emptyState.svelte";
  import Loading from "../loading.svelte";

  export let team, teamCFPs, loading;
  let duesoon, upcoming;

  $: {
    duesoon = cfps.duesoon(teamCFPs);
    upcoming = teamCFPs.filter(
      (e) => e.data.eventstart > dayjs().format("YYYY-MM-DD")
    );
    upcoming = cfps.sortList(upcoming, "eventstart");
  }
</script>

{#if loading}
  <Loading />
{:else}
  <h2 class="title">{team.teamname}</h2>

  <h2 class="subtitle my-1">CFPs Due Soon</h2>
  {#if duesoon.length === 0}
    <EmptyState>No CFPs due soon</EmptyState>
  {:else}
    <CfpList
      myCFPs="{duesoon}"
      showColumns="{['event', 'eventdates', 'location', 'cfpstatus']}"
    />
  {/if}

  <h2 class="subtitle my-5">Upcoming Events</h2>
  {#if upcoming.length === 0}
    <EmptyState>No upcoming events</EmptyState>
  {:else}
    <CfpList
    myCFPs="{upcoming}"
    showColumns="{['event', 'eventdates', 'location', 'cfpstatus']}"
    />
  {/if}
  

  <hr/>
  <h2 class="subtitle my-5">Team Statistics</h2>
  <ComingSoon gitlabIssueURL="https://gitlab.com/liscioapps/cfps/-/issues/96" />
{/if}
