<script>
  import { navigate } from "svelte-navigator";
  import Loading from "../../components/loading.svelte";

  import * as db from "../../lib/db";
  import { currentUser } from "../../stores/user";
  import FormCfp from "../../components/cfps/formCFP.svelte";
  import ComingSoon from "../../components/ComingSoon.svelte";
  import CfpSubmissions from "../../components/cfps/cfpSubmissions.svelte";
  import Error from "../../components/Error.svelte";
  import Breadcrumbs from "../../components/breadcrumbs.svelte";
    import CfpCard from "../../components/cfps/cfpCard.svelte";

  export let thisId;
  let isLoading = true,
    isSaving,
    isError,
    isDeleting,
    thisCFP,
    dbCFP,
    currTab = "Edit";

  let tabs = ["Edit", "Submissions", "Advanced"];

  function loadCFP() {
    isLoading = true;
    // #14: Catch errors
    db.cfps
      .getOne($currentUser, thisId)
      .then((ret) => {
        thisCFP = ret;
        dbCFP = thisCFP;
      })
      .catch((e) => {
        isError = e;
        console.error(e);
      })
      .finally(() => {
        setTimeout(() => {
          isLoading = false;
          isSaving = false;
        }, 400);
      });
  }

  function saveCFP(newCFP) {
    isSaving = true;
    // #14: Catch errors
    console.log("TRUCKS", newCFP)
    db.cfps.update($currentUser, thisId, newCFP.detail).then((val) => {
      loadCFP();
    });
  }

  function deleteCFP() {
    isDeleting = true;
    setTimeout(() => {
      db.cfps
        .deleteOne($currentUser, thisId)
        .then((ret) => {
          navigate("/home/all");
        })
        .catch((e) => {
          console.error(e);
        });
    }, 250);
  }

  loadCFP();
</script>

{#if isLoading || isError}
  <Breadcrumbs crumbs="{[{ link: '/home/all', name: 'All CFPs' }]}" />
{/if}

{#if isLoading}
  <div class="box">
    <Loading />
  </div>
{:else if isError}
  <Error>
    Error loading this CFP
    <br /><br />
    Message: <code>{isError.message}</code>
  </Error>
{:else}
  <Breadcrumbs
    crumbs="{[
      { link: '/home/all', name: 'All CFPs' },
      { name: thisCFP.event },
    ]}"
  />

  <CfpCard thisCFP={thisCFP} />

  <section class="box">
    <div class="tabs">
      <ul>
        {#each tabs as tab}
          <li
            class="{tab === currTab ? 'is-active' : ''}"
            on:click="{() => (currTab = tab)}"
          >
            <!-- svelte-ignore a11y-missing-attribute -->
            <a>{tab}</a>
          </li>
        {/each}
      </ul>
    </div>

    {#if currTab === "Edit"}
      <FormCfp thisCFP="{thisCFP}" isLoading="{isSaving}" on:save="{saveCFP}" btnSaveDisable={thisCFP.isTeam} />
    {:else if currTab === "Submissions"}
      <CfpSubmissions
        thisCFP="{thisCFP}"
        isLoading="{isSaving}"
        on:save="{saveCFP}"
      />
    {:else if currTab === "Advanced"}
      <div class="field">
        <textarea
          class="textarea"
          placeholder="CFP Notes"
          bind:value="{thisCFP.notes}"></textarea>
      </div>
      <div class="field is-grouped is-grouped-right">
        <button
          class="button control is-success {isLoading ? 'is-loading' : ''}"
          on:click="{() => saveCFP({ detail: thisCFP })}"
          disabled="{isSaving}"
        >
          Save
        </button>
      </div>
      <br />

      <hr />
      <br />
      <article class="message is-danger">
        <div class="message-header">
          <p>Danger Zone</p>
        </div>
        <div class="message-body">
          This will delete this CFP forever. This cannot be reversed.
          <br /><br />
          <button
            class="button is-danger {isDeleting ? 'is-loading' : ''}"
            on:click="{deleteCFP}"
            disabled="{isDeleting}"
          >
            Delete forever
          </button>
        </div>
      </article>
    {/if}
  </section>
{/if}
