<script>
  import dayjs from "dayjs";
  import { cfps } from "../../lib/db";
  import { currentUser } from "../../stores/user";
  import Loading from "../../components/loading.svelte";
  import CfpList from "../../components/cfps/cfpList.svelte";
  import Breadcrumbs from "../../components/breadcrumbs.svelte";
  import { sortList } from "../../lib/db/cfps";

  let planned = [], upcoming = [], overdue = [];
  let isLoading = true;

  cfps.getAll($currentUser).then((ret) => {
    planned = ret.filter((c) => c.data.cfpstatus === "Planned");
    planned = sortList(planned, "duedate");
    for (const cfp of planned) {
      if (dayjs(cfp.data.duedate).isBefore(dayjs())) {
        overdue.push(cfp);
      } else {
        upcoming.push(cfp);
      }
    }
    isLoading = false;
  });
</script>

<Breadcrumbs
  crumbs="{[{ link: '/home', name: 'Dashboard' }, { name: 'Planned' }]}"
/>

<div class="box">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <h2 class="is-size-3">
          Planned
          {#if !isLoading}
            ({planned.length})
          {:else}
            (⌛)
          {/if}
        </h2>
      </div>
    </div>
  </nav>

  {#if isLoading}
    <Loading />
  {:else if planned.length === 0}
    <article class="message">
      <div class="message-body">No planned CFPs</div>
    </article>
  {:else}
    <h3 class="is-size-4">Upcoming ({upcoming.length})</h3>
    <CfpList
      myCFPs="{upcoming}"
      showColumns="{['event', 'duedate', 'cfpstatus', 'location']}"
    />
    <h3 class="is-size-4">Past Due ({overdue.length})</h3>
    <CfpList
      myCFPs="{overdue}"
      showColumns="{['event', 'duedate', 'cfpstatus', 'location']}"
    />
  {/if}
</div>
