<script>
  import { cfps } from "../../lib/db";
  import { currentUser } from "../../stores/user";
  import Loading from "../../components/loading.svelte";
  import CfpList from "../../components/cfps/cfpList.svelte";
  import Breadcrumbs from "../../components/breadcrumbs.svelte";

  let submitted = [];
  let isLoading = true;

  cfps.getAll($currentUser).then((ret) => {
    submitted = ret.filter((c) => c.data.cfpstatus === "Submitted");
    isLoading = false;
  });
</script>

<Breadcrumbs
  crumbs="{[{ link: '/home', name: 'Dashboard' }, { name: 'Submitted' }]}"
/>

<div class="box">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <h2 class="is-size-3">
          Submitted
          {#if !isLoading}
            ({submitted.length})
          {:else}
            (⌛)
          {/if}
        </h2>
      </div>
    </div>
  </nav>

  {#if isLoading}
    <Loading />
  {:else if submitted.length === 0}
    <article class="message">
      <div class="message-body">No submitted CFPs</div>
    </article>
  {:else}
    <CfpList
      myCFPs="{submitted}"
      showColumns="{['event', 'duedate', 'cfpstatus', 'location']}"
    />
  {/if}
</div>
