<script>
  import HeroHeaderImg from "../components/HeroHeaderImg.svelte";
  import HeroHeaderText from "../components/HeroHeaderText.svelte";
  import Login from "../components/Login.svelte";
</script>

<div class="container has-background-white heroContainer">
  <div class="centerVert">
    <div class="columns">
      <div class="column">
        <HeroHeaderImg />
      </div>
      <div class="column">
        <HeroHeaderText />
      </div>
    </div>
    <div class="container is-fluid">
      <Login />
    </div>
  </div>
</div>

<style lang="scss">
  .heroContainer {
    margin-top: 6rem;
    padding: 1rem;
    border-radius: 10px;
  }
</style>
