<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  import { currentUser } from "../../stores/user";
  import { cfps } from "../../lib/db";
  import FormCfp from "./formCFP.svelte";

  export let isLarge = false;
  let showModal = false;
  let isLoading = false;
  let thisCFP;

  function blankCFP() {
    thisCFP = {
      event: "",
      duedate: "",
      eventstart: "",
      eventend: "",
      location: "",
      virtual: "",
      attendance: "",
      cfpstatus: "",
      eventurl: "",
      cfpURL: "",
      topics: [],
      links: [],
    };
  }

  function addIt(event) {
    isLoading = true;
    const newCFP = event.detail;
    cfps.add($currentUser, { ...newCFP }).then((response) => {
      setTimeout(() => {
        isLoading = false;
        showModal = false;
        dispatch("added");
        blankCFP();
      }, 500);
    });
    // #14: Catch errors
  }

  blankCFP();
</script>

<button
  class="button level-item is-info {isLarge ? 'is-large' : ''}"
  on:click="{() => (showModal = true)}"
>
  <span class="icon is-small"><i class="fas fa-plus"></i></span>
  <span>CFP</span>
</button>

<div class="modal {showModal ? 'is-active' : ''}">
  <div class="modal-background"></div>
  <div class="modal-card modal-form">
    <header class="modal-card-head">
      <p class="modal-card-title">Add CFP</p>
      <button
        class="delete"
        aria-label="close"
        on:click="{() => (showModal = false)}"></button>
    </header>
    <section class="modal-card-body">
      <FormCfp
        thisCFP="{thisCFP}"
        isLoading="{isLoading}"
        btnSaveText="Add"
        showCancel="{true}"
        on:cancel="{() => (showModal = false)}"
        on:save="{addIt}"
      />
    </section>
  </div>
</div>
