<script>
  import dayjs from "dayjs";
  import relativeTime from "dayjs/plugin/relativeTime";
  dayjs.extend(relativeTime);

  export let thisCFP, isLoading;
  import { cfpStatusOpts } from "../../stores/enums";
  let cfpStatusDetails, timeUntil, timeDiff, dueClass = "is-success";

  $: {
    cfpStatusDetails = cfpStatusOpts.filter(
      (x) => x.value === thisCFP.cfpstatus
    )[0];
    timeUntil = dayjs(thisCFP.duedate).fromNow();
    timeDiff = dayjs(thisCFP.duedate).diff(dayjs(), 'days');

    if (timeDiff < 1) dueClass = "is-danger";
    if (timeDiff < 7) dueClass = "is-warning";
  }
</script>


<article class="message is-medium is-info">
  <div class="message-header">
    <p>{thisCFP.event}</p>
  </div>
  <div class="message-body">
    <div class="columns">
      <div class="column">
        <span class="has-text-weight-light is-size-6">Event Dates</span>
        <br />
        {thisCFP.eventstart} ➡️ {thisCFP.eventend}
      </div>
      <div class="column">
        <span class="has-text-weight-light is-size-6">Location</span>
        <br />
        {#if thisCFP.virtual}
          Virtual
        {:else}
          {thisCFP.location}
        {/if}
      </div>
    </div>
    <div class="columns">
      <div class="column">
        {#if thisCFP.eventURL}
          <span class="has-text-weight-light is-size-6">Event Website</span>
          <br />
          <a href="{thisCFP.eventURL}" target="_blank">{thisCFP.eventURL}</a>
        {/if}
      </div>
    </div>

    <hr class="has-background-grey-lighter" />
    <span class="is-size-5">Call for Papers</span>
    <div class="columns">
      <div class="column">
        <span class="has-text-weight-light is-size-6">Due Date</span>
        <br />
        {thisCFP.duedate}
        <br />
        <span class="tag {dueClass}">
            Due {timeUntil}
        </span>
      </div>
      <div class="column">
        <span class="has-text-weight-light is-size-6">CFP Status</span>
        <br />
        {#if cfpStatusDetails}
          {cfpStatusDetails.icon}
          {cfpStatusDetails.text}
        {/if}
      </div>
    </div>
    <div class="columns">
      <div class="column">
        {#if thisCFP.cfpURL}
          <span class="has-text-weight-light is-size-6">CFP Website</span>
          <br />
          <a href="{thisCFP.cfpURL}" target="_blank">{thisCFP.cfpURL}</a>
        {/if}
      </div>
    </div>
  </div>
</article>
