<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  import AddCfp from "./AddCFP.svelte";
  import AddTalk from "../talks/AddTalk.svelte";

  export let showAddButtons = true;
  export let headerText = "All CFPs";
</script>

<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <h2 class="is-size-3">{headerText}</h2>
    </div>
  </div>
  {#if showAddButtons}
    <div class="level-right">
      <AddCfp on:added="{() => dispatch('cfpAdded')}" />
      <AddTalk on:added="{() => dispatch('talkAdded')}" />
    </div>
  {/if}
</nav>
