<script>
  import { createEventDispatcher } from "svelte";
  import Datepicker from "svelte-calendar";
  import dayjs from "dayjs";
  import { currentUser } from "../../stores/user";
  import { attendanceOpts, cfpStatusOpts } from "../../stores/enums";
  import { teams } from "../../lib/db";

  const dispatch = createEventDispatcher();

  export let thisCFP,
    isLoading = true,
    btnSaveText = "Save",
    btnSaveDisable = false,
    showCancel = false;
  
  let myTeams = [
    { data: { teamId: "", teamname: "No team selected"} }
  ];
  let selected_teamId = "";
  $: if (selected_teamId) thisCFP.teamId = selected_teamId;
  // #18: Validation on this side?

  teams
      .getAll($currentUser)
      .then((ret) => {
        myTeams = [...myTeams, ...ret];
        selected_teamId = thisCFP.teamId || ""
      })
      .finally(() => setTimeout(() => (isLoading = false), 400));

  function handleKeydown(event) {
    if (event.key === "Escape") dispatch("cancel");
  }
</script>

<svelte:window on:keydown="{handleKeydown}" />

<div class="field">
  <label class="label" for="txtEvent">Event</label>
  <div class="control">
    <input
      class="input"
      id="txtEvent"
      type="text"
      placeholder="Event Name"
      bind:value="{thisCFP.event}"
      disabled="{isLoading}"
    />
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <label class="label" for="selAttendance">Attendance</label>
    <div class="select" id="selAttendance">
      <select bind:value="{thisCFP.attendance}" disabled="{isLoading}">
        <option value=""></option>
        {#each attendanceOpts as opt}
          <option value="{opt.value}">
            {opt.icon} &nbsp; {opt.text}
          </option>
        {/each}
      </select>
    </div>
  </div>
  <div class="control">
    <label class="label" for="selCFPStatus">CFP Status</label>
    <div class="select" id="selCFPStatus">
      <select bind:value="{thisCFP.cfpstatus}" disabled="{isLoading}">
        <option value=""></option>
        {#each cfpStatusOpts as opt}
          <option value="{opt.value}">
            {opt.icon} &nbsp; {opt.text}
          </option>
        {/each}
      </select>
    </div>
  </div>
  <div class="control">
    <label class="label" for="selTeam">Team</label>
    <div class="select" id="selTeam">
      <select bind:value={selected_teamId} disabled="{isLoading}">
        {#each myTeams as opt}
          <option value="{opt.data.teamId}" selected={selected_teamId === opt.data.teamId}>
            {opt.data.teamname}
          </option>
        {/each}
      </select>
    </div>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <label class="label" for="txtLocation">Location</label>
    <input
      class="input"
      id="txtLocation"
      type="text"
      placeholder="Napa, CA"
      bind:value="{thisCFP.location}"
      disabled="{thisCFP.virtual}"
    />
  </div>

  <div class="control">
    <label class="label" for="txtCFPURL">CFP URL</label>
    <input
      class="input"
      id="txtCFPURL"
      type="text"
      placeholder="https://example.com"
      bind:value="{thisCFP.cfpURL}"
    />
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <input
        type="checkbox"
        bind:checked="{thisCFP.virtual}"
        disabled="{isLoading}"
      />
      Virtual?
    </label>
  </div>
</div>

<label class="label" for="txtDue">CFP Due Date</label>
<div class="field has-addons">
  <div class="control">
    <input
      class="input"
      id="txtDue"
      type="text"
      placeholder="CFP due date (e.g. 2021-05-02)"
      bind:value="{thisCFP.duedate}"
      disabled="{isLoading}"
    />
  </div>
  <div class="control"></div>
</div>

<label class="label" for="txtStart">Event Dates</label>

<div class="field is-grouped">
  <div class="field has-addons">
    <div class="control">
      <input
        class="input"
        id="txtEventStart"
        type="text"
        placeholder="Start (e.g. 2021-10-12)"
        bind:value="{thisCFP.eventstart}"
        disabled="{isLoading}"
      />
    </div>
    <div class="control"></div>
  </div>

  <div class="mx-2 mt-2">➡️</div>

  <div class="field has-addons">
    <div class="control">
      <input
        class="input"
        id="txtEventEnd"
        type="text"
        placeholder="End (e.g. 2021-11-12)"
        bind:value="{thisCFP.eventend}"
        disabled="{isLoading}"
      />
    </div>
    <div class="control"></div>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <label class="label" for="txtEventURL">Event URL</label>
    <input
      class="input"
      id="txtEventURL"
      type="text"
      placeholder="https://example.com"
      bind:value="{thisCFP.eventURL}"
    />
  </div>
  <div class="control">
    <label class="label" for="txtIssueURL">Issue URL</label>
    <input
      class="input"
      id="txtIssueURL"
      type="text"
      placeholder="https://example.com"
      bind:value="{thisCFP.issueURL}"
    />
  </div>
  <div class="control">
    <label class="label" for="txtRecordingDue">Recording Due</label>
    <input
      class="input"
      id="txtRecordingDue"
      type="text"
      placeholder="(e.g. 2021-11-12)"
      bind:value="{thisCFP.recordingDue}"
    />
  </div>
</div>

<div class="field is-grouped is-grouped-centered">
  {#if showCancel}
    <button
      class="button control {isLoading ? 'is-loading' : ''}"
      on:click="{() => dispatch('cancel')}"
    >
      Cancel
    </button>
  {/if}
  <button
    class="button control is-success {isLoading ? 'is-loading' : ''}"
    on:click="{() => dispatch('save', thisCFP)}"
    disabled="{btnSaveDisable}"
  >
    {btnSaveText}
  </button>
</div>
