<div class="container is-flex is-justify-content-space-around">
  <div class="card" style="max-width: 555px;">
    <div class="card-image">
      <figure class="image is-square">
        <img src="/assets/404.png" alt="CFPs.dev 404 error" />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img
              src="/assets/cfpsdev.png"
              alt="CFPs.dev logo. Track, Submit, Talk"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Uh oh</p>
          <p class="subtitle is-6">
            We can't find the page you were looking for
          </p>
        </div>
      </div>

      <div class="content">
        Please try again.  If you contiune to see this issue, please <a href="mailto:support@liscioapps.com">contact support</a>.
      </div>
    </div>
  </div>
</div>
