<header>
  <img
    src="/assets/cfpsdev.png"
    alt="CFPs.dev logo. Track, Submit, Talk"
    width="195"
  />
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }
</style>
