<script>
  import { Router, Route, useNavigate } from "svelte-navigator";

  import "./sass/mainstyle.scss";

  import Profile from "./views/Profile.svelte";
  import Home from "./views/Home.svelte";

  import Meta from "./components/Meta.svelte";
  import Header from "./components/Header.svelte";
  import PrivateRouteGuard from "./components/PrivateRouteGuard.svelte";
  import Footer from "./components/Footer.svelte";
  import Landing from "./views/Landing.svelte";
  import PublicTalks from "./views/_public/PublicTalks.svelte";
  import PublicTalk from "./views/_public/PublicTalk.svelte";
  import PublicEvents from "./views/_public/PublicEvents.svelte";
  import PublicAcceptTalkInvite from "./views/_public/PublicAcceptTalkInvite.svelte";
  import Show404 from "./components/404.svelte";

  let showApp = true;
  // TODO: #72
  if (window.location.pathname.indexOf("/embeded") > -1) showApp = false;
</script>

<Meta />

<div class="page-container has-background-white-bis">
  <Router>
    {#if showApp}
      <Header />
    {/if}

    <main class="container my-2">
      <Route path="/">
        <Landing />
      </Route>

      <Route path="home/*">
        <PrivateRouteGuard>
          <Home />
        </PrivateRouteGuard>
      </Route>

      <Route path="profile">
        <PrivateRouteGuard>
          <Profile />
        </PrivateRouteGuard>
      </Route>

      <Route path="/u/:shortCode" let:params>
        <PublicTalks shortCode="{params.shortCode}" />
      </Route>

      <Route path="/u/:shortCode/events" let:params>
        <PublicEvents shortCode="{params.shortCode}" />
      </Route>

      <Route path="/u/:shortCode/embeded" let:params>
        <PublicTalks shortCode="{params.shortCode}" showHeader="{showApp}" />
      </Route>

      <Route path="/u/:shortCode/:talkId" let:params>
        <PublicTalk shortCode="{params.shortCode}" talkId="{params.talkId}" />
      </Route>

      <Route path="/teams/invite/:inviteId" let:params>
        <PublicAcceptTalkInvite inviteId="{params.inviteId}" />
      </Route>

      <Route path="">
        <Show404 />
      </Route>
    </main>

    {#if showApp}
      <Footer />
    {/if}
  </Router>
</div>

<style>
  .page-container {
    position: relative;
    min-height: 100vh;
  }

  main {
    padding-bottom: 8rem;
  }
</style>
