<script>
  import { Link } from "svelte-navigator";
  import { currentUser } from "../../stores/user";
  import { teams } from "../../lib/db";

  import Loading from "../../components/loading.svelte";
  import EmptyState from "../../components/emptyState.svelte";
  import AddTeam from "../../components/teams/addTeam.svelte";

  let myTeams = [],
    isLoading = true;

  function loadTeams() {
    isLoading = true;

    teams
      .getAll($currentUser)
      .then((ret) => {
        myTeams = ret;
      })
      .finally(() => setTimeout(() => (isLoading = false), 400));
    // #14 Catch errors
  }

  loadTeams();
</script>

<div class="container">
  <div class="columns">
    <div class="column">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">Teams</h1>
          </div>
        </div>
      </section>
    </div>
    <div class="column my-auto mx-auto">
      <div class="notification is-danger">
        <b>Note:</b>
        Teams is currently an
        <a href="https://brendan.fyi/GA6ifL" target="_blank">alpha feature</a>
        and will be a paid feature. Use at your own risk.
      </div>
    </div>
  </div>
</div>

<section class="my-5">
  <div class="box">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h2 class="is-size-3">Your Teams</h2>
        </div>
      </div>
    </nav>
    <div class="container mb-4">
      {#if isLoading}
        <Loading />
      {:else if myTeams.length > 0}
        {#each myTeams as team}
          <div class="card my-3">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  {#if team.logo}
                    <figure class="image is-48x48">
                      <img
                        src="https://bulma.io/images/placeholders/96x96.png"
                        alt="Logo"
                        class="is-rounded"
                      />
                    </figure>
                  {:else}
                    <span class="tag is-info is-large">
                      {team.data.teamname.charAt(0)}
                    </span>
                  {/if}
                </div>
                <div class="media-content">
                  <p class="title is-4">
                    <Link to="{`/home/teams/${team.ref['@ref'].id}`}">
                      {team.data.teamname}
                    </Link>
                  </p>
                  <p class="subtitle is-6">
                    {team.data.members.length} member{team.data.members.length >
                    1
                      ? "s"
                      : ""}
                  </p>
                </div>
                <div class="media-right">
                  <Link to="#" class="button is-success" disabled>
                    Subscription &nbsp;
                    <i class="far fa-credit-card"></i>
                  </Link>
                  <Link
                    to="{`/home/teams/${team.ref['@ref'].id}`}"
                    class="button is-info"
                  >
                    Details &nbsp;
                    <i class="far fa-caret-square-right"></i>
                  </Link>
                </div>
              </div>
            </div>
          </div>
        {/each}
      {:else}
        <EmptyState>
          You don't have any teams yet. You can add one below
        </EmptyState>
      {/if}
    </div>
    <nav class="level">
      <div class="level-right"></div>
    </nav>
    <!-- Main container -->
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle">
            {#if !isLoading}
              <strong>{myTeams.length}</strong> teams
            {/if}
          </p>
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <AddTeam on:added="{() => loadTeams()}" />
        </div>
      </div>
    </nav>
  </div>
</section>
