<script>
  import Breadcrumbs from "../../components/breadcrumbs.svelte";
  import Error from "../../components/Error.svelte";
  import Loading from "../../components/loading.svelte";
  import ComingSoon from "../../components/ComingSoon.svelte";
  import TeamMembers from "./teamMembers.svelte";
  import { currentUser } from "../../stores/user";
  import { teams } from "../../lib/db";
    import TeamSummary from "../../components/teams/teamSummary.svelte";

  export let thisId;

  let thisTeam = {},
    origTeam = {},
    teamCFPs = [],
    isLoading = true,
    isError,
    btnSaveDisable,
    currTab = "Summary";

  let tabs = ["Summary", "Edit", "Members", "Subscription"];

  function loadTeam() {
    isLoading = true;

    teams
      .getOne($currentUser, thisId)
      .then(async (val) => {
        teamCFPs = await teams.getCFPs($currentUser, thisId);
        origTeam = { ...val };
        thisTeam = { ...val };
        delete thisTeam.memberDetails;
      })
      .catch((e) => {
        console.error(e);
        isError = e;
      })
      .finally(() => setTimeout(() => (isLoading = false), 400));
  }

  function saveTeam() {
    btnSaveDisable = true;

    teams
      .update($currentUser, thisId, thisTeam)
      .then((val) => {
        loadTeam();
      })
      .catch((e) => {
        console.error(e);
        isError = e;
      })
      .finally(() => {
        setTimeout(() => {
          btnSaveDisable = false;
        }, 450);
      });
  }

  function createInviteLink() {
    thisTeam.inviteLink = crypto.randomUUID();
    saveTeam();
  }

  function deleteInviteLink() {
    thisTeam.inviteLink = null;
    saveTeam();
  }

  function removeMember(event) {
    const userId = event.detail;
    thisTeam.members = thisTeam.members.filter(x => x != userId);
    saveTeam();
  }

  loadTeam();
</script>

{#if isLoading}
  <div class="box">
    <Loading />
  </div>
{:else if isError}
  <Error>
    Error loading this team
    <br /><br />
    Message: <code>{isError.message}</code>
  </Error>
{:else}
  <Breadcrumbs
    crumbs="{[
      { link: '/home/teams', name: 'Teams' },
      { name: origTeam.teamname },
    ]}"
  />

  <section class="box">
    <div class="tabs">
      <ul>
        {#each tabs as tab}
          <li
            class="{tab === currTab ? 'is-active' : ''}"
            on:click="{() => (currTab = tab)}"
          >
            <!-- svelte-ignore a11y-missing-attribute -->
            <a>{tab}</a>
          </li>
        {/each}
      </ul>
    </div>

    {#if currTab === "Summary"}
      <TeamSummary team={thisTeam} teamCFPs={teamCFPs} loading={isLoading} />
    {:else if currTab === "Edit"}
      <h2 class="subtitle">Edit Team</h2>
      <div class="field">
        <label class="label" for="txtName">Team Name</label>
        <div class="control">
          <input
            class="input"
            id="txtName"
            type="text"
            placeholder="Team Name"
            bind:value="{thisTeam.teamname}"
            disabled="{isLoading}"
          />
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <button
          class="button control is-success {btnSaveDisable ? 'is-loading' : ''}"
          on:click="{() => saveTeam()}"
          disabled="{btnSaveDisable}"
        >
          Save
        </button>
      </div>

      
    {:else if currTab === "Members"}
      <TeamMembers team={origTeam} on:createInviteLink={createInviteLink} on:disableLink={deleteInviteLink} on:removeMember={removeMember} />
    {:else if currTab === "Subscription"}
      <h2 class="subtitle">Manage Subscription</h2>
      <ComingSoon />
    {/if}
  </section>
{/if}
