<script>
  import { createEventDispatcher } from "svelte";
  import { currentUser } from "../../stores/user";
  const dispatch = createEventDispatcher();

  export let team;
  let hasLink = team.inviteLink ? true : false,
    creatingLink,
    copying;
  let totalMembers = team.memberDetails?.length || 0;
  let linkBtnText = "🔗 Invite with link";
  let primeDelete = "",
    isDeleting = false;
  let isOwner = team.owners.includes($currentUser.id);

  function createLink() {
    creatingLink = true;
    dispatch("createInviteLink");
    setTimeout(() => {
      creatingLink = false;
    }, 1400);
  }

  function disableLink() {
    dispatch("disableLink");
  }

  async function copyLink() {
    copying = true;
    navigator.clipboard.writeText(
      `https://cfps.dev/teams/invite/${team.inviteLink}`
    );

    setTimeout(() => {
      linkBtnText = "✅ Link copied to clipboard";
      copying = false;
    }, 650);

    setTimeout(() => {
      linkBtnText = "🔗 Invite with link";
    }, 3000);
  }

  function armDelete(member) {
    primeDelete = member.data.userId;
  }

  function deleteMember(member) {
    isDeleting = true;
    dispatch("removeMember", member.data.userId);

    setTimeout(() => {
      isDeleting = false;
      primeDelete = "";
    }, 750);
  }
</script>

<div class="block">
  <h2 class="subtitle">Team Members ({totalMembers})</h2>

  <p>
    Team members can see all team CFPs and all team member's talk abstracts.
  </p>
</div>

<div class="block">
  <h2 class="subtitle">Invite members to join you</h2>

  <div class="is-flex">
    <p class="mx-2 is-flex-grow-1">
      Anyone with a unique link can join this team. You’ll be billed for each
      member added. You can disable or create a new link at any time.
    </p>
    {#if hasLink}
      <button class="mx-2 button is-outlined" on:click="{disableLink}">
        Disable invite link
      </button>
      <button
        class="mx-2 button {copying ? 'is-loading' : ''} {linkBtnText.includes(
          'copied'
        )
          ? 'is-success'
          : ''}"
        on:click="{copyLink}"
      >
        {linkBtnText}
      </button>
    {:else}
      <button
        class="mx-2 button is-link is-outlined {creatingLink
          ? 'is-loading'
          : ''}"
        on:click="{createLink}"
      >
        🔗 Create invite link
      </button>
    {/if}
  </div>
</div>

<div class="block">
  {#each team.memberDetails as member, i}
    <article class="media mt-5">
      <div class="media-left">
        <!-- #89 add profile pic -->
        <span class="tag is-primary is-light is-large">{i + 1}</span>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{member.data.user_metadata.full_name}</strong>
            {#if team.owners.includes(member.data.userId)}
              <span class="tag is-info">Team Owner</span>
            {/if}
            <br />
            {member.data.email}
          </p>
        </div>
        <nav class="level is-mobile">
          <!-- 
              See #92 and #90
              <div class="level-left">
            <a class="level-item">
              <span class="icon is-small"><i class="fas fa-reply"></i></span>
            </a>
            <a class="level-item">
              <span class="icon is-small"><i class="fas fa-retweet"></i></span>
            </a>
            <a class="level-item">
              <span class="icon is-small"><i class="fas fa-heart"></i></span>
            </a>
          </div> -->
        </nav>
      </div>
      <div class="media-right">
        {#if isOwner && $currentUser.id != member.data.userId && !team.owners.includes(member.data.userId)}
          {#if primeDelete != member.data.userId}
            <button
              class="button is-danger is-outlined"
              on:click="{armDelete(member)}"
            >
              ✖️ Remove...
            </button>
          {/if}
          {#if primeDelete === member.data.userId}
            <button
              class="button is-danger {isDeleting ? 'is-loading' : ''}"
              on:click="{deleteMember(member)}"
            >
              Are you sure? 🗑️
            </button>
            <button
              class="button is-info"
              on:click="{() => (primeDelete = '')}"
            >
              Cancel
            </button>
          {/if}
        {/if}
      </div>
    </article>
  {/each}
</div>
