<script>
  import { topLevelNav, mainNav } from "../../stores/nav";
  import NavItem from "./navItem.svelte";
</script>

<aside class="menu is-hidden-mobile">
  {#each topLevelNav as topNavItem}
    <p class="menu-label">
      {topNavItem.icon} &nbsp; {topNavItem.headerText}
    </p>
    <ul class="menu-list">
      <li>
        <NavItem thisItem="{topNavItem}" />
        <ul>
          {#each mainNav[topNavItem.navKey] as navItem}
            <li>
              <NavItem thisItem="{navItem}" />
            </li>
          {/each}
        </ul>
      </li>
    </ul>
  {/each}
</aside>
